{% extends "base.html" %}
{% block title %}Expense page {% endblock %}
{% block link %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}
{% block content %}
{% if not current_user.is_authenticated %}
<div class="container has-text-centered">
  <h1 class="title">
    Flask Personal Expense Tracker
  </h1>
  <h2 class="subtitle">
    Welcome to our app!!.
  </h2>
  </div>
{% else %}

  <!-- jumbotron -->
  <section class="jumbotron text-center">
    <div class="container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="jumbotron-heading">Expense Tracking app</h1>
          <p class="lead text-muted">Welcome<b> {{name}}</b></p>
          <p class="lead text-muted">A cool Expense Tracking app. Put your money under control!</p>
          <p>
            <a href="{{ url_for('add')}} " class="btn btn-primary my-2">Add new expense</a>
            <a href="{{ url_for('index')}} " class="btn btn-secondary my-2">View Dashboard</a>
          </p>
        </div>
      </div>  
    </div>
  </section>
</br>

<main>
  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
  <div class="container d-flex justify-content-center">
    <div class="row justify-content-center">
      
      <div class="card border-success mb-3" style="margin: 1rem; min-width: 18rem;">
        <div class="card-header">Total Expense</div>
        <div class="card-body">
          <h5 class="card-title">{{"${:,.2f}".format(totalExpense)}}</h5>
          <p class="card-text">for {{current_month}}</p>

        </div>
      </div>
      
    </div>
  </div>
  <div class="container d-flex justify-content-center">
    <div class="row justify-content-center">
      <div class="card border-success mb-3" style="margin: 1rem; min-width: 18rem;">
        <div class="card-header">Total Budget</div>
        <div class="card-body">
          <h5 class="card-title">{{"${:,.2f}".format(totalBudget)}}</h5>
          <p class="card-text">for {{current_month}}</p>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Edit
          </button>

          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Total Budget</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="POST">
                <div class="modal-body">
                  Enter Budget amount<div class="form-floating">
                    <input type="number" id="budget" name="budget" class="form-control" placeholder="Budget Amount">
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  
                  <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
              </form>
              </div>
            </div>
          </div>

        </div>
      </div>
      
    </div>
  </div>
</div>
</div>
</div>

</main>

<section class="jumbotron text-center">
  <div class="container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="jumbotron-heading">Your Expenses</h1>
      </div>
    </div>  
  </div>
</section>





  <main>
    <div class="album py-5 bg-light">
      <div class="container">
  
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
   <!--<div class="container d-flex justify-content-center">
      <div class="row justify-content-center">-->
        {% if expenses%}

        {% for expense in expenses %}
        <div class="container d-flex justify-content-center">
          <div class="row justify-content-center">
        <div class="card border-success mb-3" style="margin: 1rem; min-width: 18rem;">
          <div class="card-header">{{expense[3]}}</div>
          <div class="card-body">
            <h5 class="card-title">{{expense[2]}} </h5>
            <p class="card-text">{{"${:,.2f}".format(expense[4])}}</p>
            <p class="card-text"><small class="text-muted">{{expense[5]}}</small>
            </p>

            <a href="{{ url_for('update', expense_id=expense[0]) }}" class="btn btn-primary btn-sm m-1">Edit</a>
            <a href="{{ url_for('delete', expense_id=expense[0]) }}" class="btn btn-danger btn-sm m-1">Delete</a>

          </div>
        </div>
      </div>
    </div>
        {% endfor%}
        {% else %}
        <section class="jumbotron text-center">
          <div class="container">
            <div class="row py-lg-5">
              <div class="col-lg-6 col-md-8 mx-auto">
                <h5>
                  <figure class="text-center">
                  No expenses Found<br>
                  <a href="{{ url_for('add')}} " >Click Here</a>
                  <small class="text-muted">to add New expenses</small>
                </figure>
                </h5>
              </div>
            </div>  
          </div>
        </section>
        

        {%endif%}
      </div>
    </div>
  </div>
</div>
</div>
</main>

{% endif %}
{% endblock %}