<!DOCTYPE html>
<html lang="en">
<head>
    <title>Personal Expense Tracker Application</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body style="background-color:#659DBD">
        <div class="main">
            <div class="navbar">
                <div class="menu">
                    <ul>
                        <li><a href="">Home</a></li>
                        <li><a href="about">About</a></li>
                        <li><a href="login">Login/Register</a></li>
                    </ul>
                </div>
            </div>
            <div class="container">
                <h1 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Personal Expense Tracker Application     </h1><br>
                <p style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;"></p>
            </div>
        </div>
    </body>